@charset "utf-8";

@import "_vars.scss";

@mixin gradient-blue($direction: 45deg) {
    background: linear-gradient($direction, $app-blue, $app-turquoise);
}

@mixin gradient-orange($direction: 45deg) {
    background: linear-gradient($direction, $app-orange, $app-yellow);
}