@charset "utf-8";

@import "_vars.scss";

@mixin gradient-blue($direction: 45deg) {
    background: linear-gradient($direction, $aces-blue, $aces-turquoise);
}

@mixin gradient-orange($direction: 45deg) {
    background: linear-gradient($direction, $aces-orange, $aces-yellow);
}