@charset "utf-8";

$aces-turquoise: #2BE3AD;
$aces-blue: #0399CF;
$aces-yellow: #F2E324;
$aces-orange: #FA6347;
$aces-red: #B61E16;
$aces-gray: #4D4D4D;

$red: $aces-red;
$orange: $aces-orange;
$yellow: $aces-yellow;
$turquoise: $aces-turquoise;
$cyan: $aces-blue;
$blue: $aces-blue;

$primary: $aces-blue;
$info: $aces-turquoise;

$header-height: 75px;
$menu-open-width: 275px;
$menu-closed-width: 1rem;