@charset "utf-8";

$app-turquoise: #2BE3AD;
$app-blue: #0399CF;
$app-yellow: #F2E324;
$app-orange: #FA6347;
$app-red: #B61E16;
$app-gray: #4D4D4D;

$red: $app-red;
$orange: $app-orange;
$yellow: $app-yellow;
$turquoise: $app-turquoise;
$cyan: $app-blue;
$blue: $app-blue;

$primary: $app-blue;
$info: $app-turquoise;

$header-height: 75px;
$menu-open-width: 275px;
$menu-closed-width: 1rem;