@import '_vars.scss';
@import 'button.scss';
@import 'icon.scss';

html { overflow: hidden; }

body {
    height: 100vh;
    width: 100vw;

    header {
        position: fixed;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        width: 100vw;
        padding: 0 1rem !important;
        border-radius: 0 !important;
        margin: 0 !important;
        z-index: 3;

        img {
            height: 80%;
        }
    }

    aces-menu {
        display: inline-block;
        position: relative;
        top: $header-height;
        left: 0;
        height: calc(100vh - #{$header-height});
        width: $menu-open-width;
        background-color: hsl(0%, 0%, 96%);
        z-index: 2;

        &:after {
            content: '';
            display: inline;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 4px;
            background: linear-gradient(to right, rgba($aces-gray, 0), rgba($aces-gray, .3));
        }
    }

    main {
        position: fixed;
        top: $header-height;
        right: 0;
        height: calc(100vh - #{$header-height});
        width: calc(100vw - #{$menu-open-width});
        transition: width 250ms ease;
        will-change: width;
        z-index: 1;
        padding: 3rem;
        padding-top: .75rem;
    }
}