app-menu {
    transition: width 250ms ease;
    will-change: width;

    &[data-open="false"] {
        width: $menu-closed-width;
        
        & + main {
            width: calc(100vw - #{$menu-closed-width});
        }
    }

    aside {
        height: 100%;
        width: 100%;
        overflow: hidden;

        #toggle {
            position: absolute;
            top: .75rem;
            right: 0;
            transform: translateX(50%);
            margin: 0;
            padding: 0;
            border-radius: 50%;
            background-color: white;
            color: rgba($app-gray, .5);
            border: 1px solid rgba($app-gray, .5);
            cursor: pointer;
            z-index: 10;
            outline: none;

            &:hover {
                color: $app-gray;
                border: 1px solid $app-gray;
            }
        }

        nav {
            width: $menu-open-width;
            padding: 1rem;
        }
    }

    .menu-item {
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        position: relative;

        &:hover {
            @include gradient-blue;
            color: $app-blue;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            background-color: hsl(0%, 0%, 96%);
            border-radius: 9px;
            z-index: 1;
        }

        app-icon {
            margin-right: .5rem;
            position: relative;
            z-index: 2;
            color: $app-gray !important;
        }

        span {
            position: relative;
            z-index: 2;
        }
    }
}